body{
    background-color: chocolate;
}
header{
display: flex;
justify-content: space-between;
align-items: center;
border: double;
background-color: black;
}
nav{
    display:contents;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.logo img{
    padding: 0.5em 0.5em 0.5em 1em;
width: 100px;
height: 100px;
}
.menuss{
    background-color: black;
    padding: 2em 6em 2em 2em;
}
header a{
    color: rgb(252, 255, 240);
    text-shadow: 2px 2px 1px yellow;

}
.galeria-img{
    display: grid;
    grid-template-columns: 100px 200px 150px ;
    grid-template-rows: 200px 300px 200px;
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.galeria-img img{
    width: 100px;
    height: 100px;
}

.cuerno1{
    grid-column: 3/4;
    grid-row:2/3 ;
}

.cafe{
    grid-column:2/3 ;
    grid-row: 2/1;
}
.cuadrados{
grid-column:1/2 ;
grid-row: 2/3;
}
.cora{
    grid-column:1/2 ;
    grid-row: 3/4;
}
.sandwich{
    grid-column: 3/4;
    grid-row: 1/2;
}